$bg_0: #f5f5dc; // global fon
$bg_1: #911e42;
$bg_2: #a3284f; // светлее
$bg_3: #808080; // footer
$bg_4: #808080; // footer-btn 808080
$bg_5: #222222; // footer-btn:hover
$bg_6: #ffa500; // select:hover

$radius: 1em;

$border_1: #dee2e6; // table

$grid: 40px;
